<!DOCTYPE html>
<html lang="en">
  <head>
    <title>House of Crystals</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>      
      <% if current_user %>
        <%= link_to 'Shop', products_path %> | 
        <%= link_to 'Add a product', new_product_path %> | 
        <%= link_to 'Edit account', edit_user_registration_path %> | 
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %> | 
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>      
    </nav>

    <div class ="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div > 
    
    <div class="container">
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
